@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Qwitcher+Grypen:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

h1,
p,
h2,
div {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #f5f5dc;
  min-height: 100vh;
  padding: 24px 32px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.header .logo {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  color: #006a4e;
}

.box-search {
  background-color: #006a4e;
  padding: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 6px;
}

.box-search .bx-search {
  color: white;
  font-size: 16px;
}

.box-search .search-input {
  width: 450px;
  outline: none;
  border: none;
  background-color: #006a4e;
  font-family: "Qwitcher Grypen", cursive;
  color: white;
  font-size: 16px;
}

.box-search .search-input::placeholder {
  font-family: "Qwitcher Grypen", cursive;
  color: white;
  font-size: 16px;
}

.box-profile {
  display: flex;
  align-items: center;
  gap: 16px;
}

.box-profile .bx {
  border: 1.5px solid #006a4e;
  padding: 6px;
  font-size: 16px;
  border-radius: 50%;
  color: #006a4e;
}

.img-profile {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  justify-content: start;
}

.box-movie {
  position: relative;
}

.box-movie .bg-movie {
  position: relative;
  width: 230px;
  height: 310px;
  object-fit: fill;
  filter: blur(1.5px) brightness(80%);
  border-radius: 30px;
}

.content-movie {
  position: absolute;
  top: 0;
  left: 0;
}

.poster-movie {
  width: 230px;
  height: 200px;
  object-fit: contain;
  margin-top: 16px;
}

.box-title {
  padding: 4px 8px;
  color: white;
  font-family: "Inter", sans-serif;
}

.box-title .title {
  font-size: 16px;
}

.box-title .title .year {
  font-size: 8px;
}

.box-star {
  display: flex;
  align-items: center;
  padding: 0px 8px;
  gap: 3px;
}

.box-star .bxs-star {
  color: #ffd029;
  font-size: 12px;
}

.box-star .rate-star {
  display: flex;
  gap: 2px;
  font-size: 10px;
  font-family: "Inter", sans-serif;
  color: #fff73c;
  font-weight: 600;
}

.desc {
  padding: 0 8px;
  margin-top: 4px;
  font-size: 8px;
  font-family: "Inter", sans-serif;
  color: white;
  font-weight: 500;
  line-height: 13px;
}
